/*--------------------------------------------------------------
# thx page
--------------------------------------------------------------*/

.thanksbody {
    background-color: #0c0c0c;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .containerthanks {
    text-align: center;
  }
  
  .checkmark {
    display: inline-block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #28a745;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px auto;
  }
  
  .checkmark svg {
    color: #FFFFFF;
    width: 60px;
    height: 60px;
  }
  
  h1 {
    font-size: 24px;
    margin: 0 0 10px 0;
    color: white;
  }
  
  p {
    font-size: 16px;
    margin: 0 0 20px 0;
  }
  
  a {
    font-size: 16px;
    color: #1D90FF;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }